<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sugtao4423.yandereviewer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="sugtao4423.yandereviewer.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sugtao4423.yandereviewer.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="PostDetail"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="ShowImage"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.TranslucentBackground" >
        </activity>
        <activity
            android:name="Settings"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="SaveTagActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="TwitterOAuth"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter"
                    android:scheme="yande.re-viewer" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="TweetActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="IntentActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yande.re"
                    android:pathPattern="/post/show/..*"
                    android:scheme="http" >
                </data>
                <data
                    android:host="yande.re"
                    android:pathPattern="/post/show/..*"
                    android:scheme="https" >
                </data>
            </intent-filter>
        </activity>
    </application>

</manifest>